## 6.2 Variable Conversion

### This script will include:

__00. Import libraries and data__

__01. Creation of derived 'dummy' variables that represent string type variables:__

* league
* position
* team_signed
* team_actual
* bats
* throw

__This is done so I can create correlation heatmaps and chorpleth maps more easily for my analysis__

__02. Data export__

### 00. Import Libraries and Data

In [64]:
#import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [65]:
# Check the version of matplotlib to avoid any problems with heatmaps

matplotlib.__version__

'3.7.1'

In [66]:
# Version is past 3.1.1, so we're good!
## This option ensures the charts you create are displayed in the notebook without the need to "call" them specifically.

%matplotlib inline

In [67]:
# Create a folder path
path = r'C:\Users\Victoria\Documents\veallen20\OneDrive\Desktop\Data Analytics Career Foundry\6.0 Advanced Analytics and Dashboard Design\Bambino 2.0\02 Data'

In [68]:
# Import cleaned data from previous exercise as 'df'
df = pd.read_csv(os.path.join(path, 'Cleaned Data', 'baseball_merged.csv'), index_col = False)

In [69]:
# Check data import
df.head()

,rank,combined_key,name,year,city,state,country,bats,throws,team_signed,...,contract_start,contract_end,contract_length,total_salary,age,team_played,league,games,war,actual_salary
0,1,"Mike Trout, 2019",Mike Trout,2019,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,2019,2030,12,426500000,27,LAA,AL,134,7.9,17666667.0
1,1,"Mike Trout, 2020",Mike Trout,2020,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,2019,2030,12,426500000,28,LAA,AL,53,1.8,37666666.0
2,1,"Mike Trout, 2021",Mike Trout,2021,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,2019,2030,12,426500000,29,LAA,AL,36,1.8,37116667.0
3,1,"Mike Trout, 2022",Mike Trout,2022,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,2019,2030,12,426500000,30,LAA,AL,119,6.3,37116666.0
4,1,"Mike Trout, 2023",Mike Trout,2023,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,2019,2030,12,426500000,31,LAA,AL,81,3.0,37116667.0

### 01. Creation of derived variables

__First I will check the data types of all columns so I can determine which ones I can reasonably create a 'flag' for.__

In [70]:
#Get data types of columns
df.dtypes

rank                 int64
combined_key        object
name                object
year                 int64
city                object
state               object
country             object
bats                object
throws              object
team_signed         object
team_locale         object
position            object
contract_start       int64
contract_end         int64
contract_length      int64
total_salary         int64
age                  int64
team_played         object
league              object
games                int64
war                float64
actual_salary      float64
dtype: object

__Create derived variable for 'league' called 'league_r'__

In [71]:
#Check values for 'league'
df['league'].value_counts()

league
NL    762
AL    719
Name: count, dtype: int64

In [72]:
# Time to make a new variable 'league_r'
df.loc[df['league'] == 'AL', 'league_r'] = 0
df.loc[df['league'] == 'NL', 'league_r'] = 1

In [73]:
#Confirm variable creation
df[['league', 'league_r']].value_counts()

league  league_r
NL      1.0         762
AL      0.0         719
Name: count, dtype: int64

__Create derived variable for 'bats' called 'bats_r'__

In [74]:
#Check values for 'bats'
df['bats'].value_counts()

bats
R    919
L    455
S    107
Name: count, dtype: int64

In [75]:
# Time to make a new variable 'bats_r'
df.loc[df['bats'] == 'R', 'bats_r'] = 0
df.loc[df['bats'] == 'L', 'bats_r'] = 1
df.loc[df['bats'] == 'S', 'bats_r'] = 2

In [76]:
#Confirm variable creation
df[['bats', 'bats_r']].value_counts()

bats  bats_r
R     0.0       919
L     1.0       455
S     2.0       107
Name: count, dtype: int64

__Create derived variable for 'throws' called 'throws_r'__

In [77]:
#Check values for 'throws'
df['throws'].value_counts()

throws
R    1221
L     260
Name: count, dtype: int64

In [78]:
# Time to make a new variable 'throws_r'
df.loc[df['throws'] == 'R', 'throws_r'] = 0
df.loc[df['throws'] == 'L', 'throws_r'] = 1

In [79]:
#Confirm variable creation
df[['throws', 'throws_r']].value_counts()

throws  throws_r
R       0.0         1221
L       1.0          260
Name: count, dtype: int64

__Create derived variable for 'team_signed' called 'team_sr'__

In [80]:
#Get values for 'team_signed'
df['team_signed'].value_counts()

team_signed
NYY    125
BOS     94
CHC     77
LAD     76
STL     74
TEX     67
DET     65
NYM     63
PHI     60
SFG     59
ATL     58
LAA     58
COL     58
MIA     52
CHW     51
TOR     50
SEA     49
WSN     43
HOU     41
CIN     39
BAL     34
SDP     33
ARI     29
MIN     29
CLE     28
MIL     19
KCR     19
TBR     15
PIT     10
OAK      6
Name: count, dtype: int64

In [81]:
# Time to make a new variable 'team_sr'
df.loc[df['team_signed'] == 'ARI', 'team_sr'] = 0

In [82]:
# Time to make a new variable 'team_sr'
df.loc[df['team_signed'] == 'ATL', 'team_sr'] = 1
df.loc[df['team_signed'] == 'BAL', 'team_sr'] = 2
df.loc[df['team_signed'] == 'BOS', 'team_sr'] = 3
df.loc[df['team_signed'] == 'CHC', 'team_sr'] = 4
df.loc[df['team_signed'] == 'CHW', 'team_sr'] = 5
df.loc[df['team_signed'] == 'CIN', 'team_sr'] = 6
df.loc[df['team_signed'] == 'CLE', 'team_sr'] = 7
df.loc[df['team_signed'] == 'COL', 'team_sr'] = 8
df.loc[df['team_signed'] == 'DET', 'team_sr'] = 9
df.loc[df['team_signed'] == 'HOU', 'team_sr'] = 10

In [83]:
# Time to make a new variable 'team_sr'
df.loc[df['team_signed'] == 'KCR', 'team_sr'] = 11
df.loc[df['team_signed'] == 'LAA', 'team_sr'] = 12
df.loc[df['team_signed'] == 'LAD', 'team_sr'] = 13
df.loc[df['team_signed'] == 'MIA', 'team_sr'] = 14
df.loc[df['team_signed'] == 'MIL', 'team_sr'] = 15
df.loc[df['team_signed'] == 'MIN', 'team_sr'] = 16
df.loc[df['team_signed'] == 'NYM', 'team_sr'] = 17
df.loc[df['team_signed'] == 'NYY', 'team_sr'] = 18
df.loc[df['team_signed'] == 'OAK', 'team_sr'] = 19
df.loc[df['team_signed'] == 'PHI', 'team_sr'] = 20

In [84]:
# Time to make a new variable 'team_sr'
df.loc[df['team_signed'] == 'PIT', 'team_sr'] = 21
df.loc[df['team_signed'] == 'SDP', 'team_sr'] = 22
df.loc[df['team_signed'] == 'SEA', 'team_sr'] = 23
df.loc[df['team_signed'] == 'SFG', 'team_sr'] = 24
df.loc[df['team_signed'] == 'STL', 'team_sr'] = 25
df.loc[df['team_signed'] == 'TBR', 'team_sr'] = 26
df.loc[df['team_signed'] == 'TEX', 'team_sr'] = 27
df.loc[df['team_signed'] == 'TOR', 'team_sr'] = 28
df.loc[df['team_signed'] == 'WSN', 'team_sr'] = 29

In [85]:
df[['team_signed','team_sr']].value_counts()

team_signed  team_sr
NYY          18.0       125
BOS          3.0         94
CHC          4.0         77
LAD          13.0        76
STL          25.0        74
TEX          27.0        67
DET          9.0         65
NYM          17.0        63
PHI          20.0        60
SFG          24.0        59
COL          8.0         58
LAA          12.0        58
ATL          1.0         58
MIA          14.0        52
CHW          5.0         51
TOR          28.0        50
SEA          23.0        49
WSN          29.0        43
HOU          10.0        41
CIN          6.0         39
BAL          2.0         34
SDP          22.0        33
ARI          0.0         29
MIN          16.0        29
CLE          7.0         28
KCR          11.0        19
MIL          15.0        19
TBR          26.0        15
PIT          21.0        10
OAK          19.0         6
Name: count, dtype: int64

__Create a derived variable for 'team_played' called 'team_pr'__

In [86]:
#Get values for 'team_signed'
df['team_played'].value_counts()

team_played
NYY    141
LAD     87
BOS     80
STL     75
NYM     73
ATL     71
CHW     69
LAA     67
CHC     66
SFG     65
PHI     59
DET     57
TEX     55
SEA     52
COL     49
HOU     48
TOR     48
WSN     37
CIN     37
SDP     35
BAL     31
ARI     28
MIN     26
MIA     23
CLE     22
KCR     22
MIL     20
OAK     12
TBR      9
PIT      9
FLA      5
ANA      3
Name: count, dtype: int64

In [87]:
# Time to make a new variable 'team_pr'
df.loc[df['team_played'] == 'ARI', 'team_pr'] = 0

In [88]:
# Time to make a new variable 'team_pr'
df.loc[df['team_played'] == 'ATL', 'team_pr'] = 1
df.loc[df['team_played'] == 'BAL', 'team_pr'] = 2
df.loc[df['team_played'] == 'BOS', 'team_pr'] = 3
df.loc[df['team_played'] == 'CHC', 'team_pr'] = 4
df.loc[df['team_played'] == 'CHW', 'team_pr'] = 5
df.loc[df['team_played'] == 'CIN', 'team_pr'] = 6
df.loc[df['team_played'] == 'CLE', 'team_pr'] = 7
df.loc[df['team_played'] == 'COL', 'team_pr'] = 8
df.loc[df['team_played'] == 'DET', 'team_pr'] = 9
df.loc[df['team_played'] == 'HOU', 'team_pr'] = 10

In [89]:
# Time to make a new variable 'team_pr'
df.loc[df['team_played'] == 'KCR', 'team_pr'] = 11
df.loc[df['team_played'] == 'LAA', 'team_pr'] = 12
df.loc[df['team_played'] == 'LAD', 'team_pr'] = 13
df.loc[df['team_played'] == 'MIA', 'team_pr'] = 14
df.loc[df['team_played'] == 'MIL', 'team_pr'] = 15
df.loc[df['team_played'] == 'MIN', 'team_pr'] = 16
df.loc[df['team_played'] == 'NYM', 'team_pr'] = 17
df.loc[df['team_played'] == 'NYY', 'team_pr'] = 18
df.loc[df['team_played'] == 'OAK', 'team_pr'] = 19
df.loc[df['team_played'] == 'PHI', 'team_pr'] = 20

In [90]:
# Time to make a new variable 'team_pr'
df.loc[df['team_played'] == 'PIT', 'team_pr'] = 21
df.loc[df['team_played'] == 'SDP', 'team_pr'] = 22
df.loc[df['team_played'] == 'SEA', 'team_pr'] = 23
df.loc[df['team_played'] == 'SFG', 'team_pr'] = 24
df.loc[df['team_played'] == 'STL', 'team_pr'] = 25
df.loc[df['team_played'] == 'TBR', 'team_pr'] = 26
df.loc[df['team_played'] == 'TEX', 'team_pr'] = 27
df.loc[df['team_played'] == 'TOR', 'team_pr'] = 28
df.loc[df['team_played'] == 'WSN', 'team_pr'] = 29
df.loc[df['team_played'] == 'ANA', 'team_pr'] = 30
df.loc[df['team_played'] == 'FLA', 'team_pr'] = 31

In [91]:
#Confirm variable creations
df[['team_played', 'team_pr']].value_counts()

team_played  team_pr
NYY          18.0       141
LAD          13.0        87
BOS          3.0         80
STL          25.0        75
NYM          17.0        73
ATL          1.0         71
CHW          5.0         69
LAA          12.0        67
CHC          4.0         66
SFG          24.0        65
PHI          20.0        59
DET          9.0         57
TEX          27.0        55
SEA          23.0        52
COL          8.0         49
HOU          10.0        48
TOR          28.0        48
CIN          6.0         37
WSN          29.0        37
SDP          22.0        35
BAL          2.0         31
ARI          0.0         28
MIN          16.0        26
MIA          14.0        23
KCR          11.0        22
CLE          7.0         22
MIL          15.0        20
OAK          19.0        12
PIT          21.0         9
TBR          26.0         9
FLA          31.0         5
ANA          30.0         3
Name: count, dtype: int64

__Create a new derived variable for 'position' called 'position_r'__

In [92]:
#check value counts for 'position'
df['position'].value_counts()

position
SP    413
3B    182
DH    154
RF    127
LF    118
1B    106
SS     92
2B     87
C      75
CF     58
OF     43
RP     26
Name: count, dtype: int64

In [94]:
# Time to make a new variable 'position_r'
df.loc[df['position'] == 'RP', 'position_r'] = 0
df.loc[df['position'] == 'SP', 'position_r'] = 1
df.loc[df['position'] == 'C', 'position_r'] = 2
df.loc[df['position'] == '1B', 'position_r'] = 3
df.loc[df['position'] == '2B', 'position_r'] = 4
df.loc[df['position'] == '3B', 'position_r'] = 5
df.loc[df['position'] == 'SS', 'position_r'] = 6
df.loc[df['position'] == 'LF', 'position_r'] = 7
df.loc[df['position'] == 'CF', 'position_r'] = 8
df.loc[df['position'] == 'RF', 'position_r'] = 9
df.loc[df['position'] == 'DH', 'position_r'] = 10
df.loc[df['position'] == 'OF', 'position_r'] = 11

In [95]:
#confirm variable creation
df[['position', 'position_r']].value_counts()

position  position_r
SP        1.0           413
3B        5.0           182
DH        10.0          154
RF        9.0           127
LF        7.0           118
1B        3.0           106
SS        6.0            92
2B        4.0            87
C         2.0            75
CF        8.0            58
OF        11.0           43
RP        0.0            26
Name: count, dtype: int64

__Look at df to confirm all new variables!__

In [96]:
df.head()

,rank,combined_key,name,year,city,state,country,bats,throws,team_signed,...,league,games,war,actual_salary,league_r,bats_r,throws_r,team_sr,team_pr,position_r
0,1,"Mike Trout, 2019",Mike Trout,2019,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,AL,134,7.9,17666667.0,0.0,0.0,0.0,12.0,12.0,8.0
1,1,"Mike Trout, 2020",Mike Trout,2020,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,AL,53,1.8,37666666.0,0.0,0.0,0.0,12.0,12.0,8.0
2,1,"Mike Trout, 2021",Mike Trout,2021,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,AL,36,1.8,37116667.0,0.0,0.0,0.0,12.0,12.0,8.0
3,1,"Mike Trout, 2022",Mike Trout,2022,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,AL,119,6.3,37116666.0,0.0,0.0,0.0,12.0,12.0,8.0
4,1,"Mike Trout, 2023",Mike Trout,2023,"Vineland, New Jersey",New Jersey,United States,R,R,LAA,...,AL,81,3.0,37116667.0,0.0,0.0,0.0,12.0,12.0,8.0

In [99]:
df.describe()

,rank,year,contract_start,contract_end,contract_length,total_salary,age,games,war,actual_salary,league_r,bats_r,throws_r,team_sr,team_pr,position_r
count,1481.000000,1481.000000,1481.00000,1481.000000,1481.000000,1.481000e+03,1481.000000,1481.000000,1480.000000,1.397000e+03,1481.000000,1481.000000,1481.000000,1481.000000,1481.000000,1481.000000
mean,154.706955,2014.382849,2012.04659,2017.472654,6.124240,1.113499e+08,31.659689,88.265361,2.447500,1.670079e+07,0.514517,0.451722,0.175557,14.206617,14.257934,4.819041
std,93.844289,6.377533,6.54567,6.771220,1.892935,6.408205e+07,3.202457,54.774974,2.455493,7.372579e+06,0.499958,0.626443,0.380571,8.684981,8.626776,3.380339
min,1.000000,1997.000000,1997.00000,2001.000000,2.000000,5.200000e+07,21.000000,1.000000,-3.300000,1.000000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,73.000000,2010.000000,2007.00000,2012.000000,5.000000,6.600000e+07,30.000000,32.000000,0.600000,1.200000e+07,0.000000,0.000000,0.000000,6.000000,6.000000,1.000000
50%,152.000000,2015.000000,2013.00000,2018.000000,6.000000,8.500000e+07,32.000000,97.000000,2.100000,1.575000e+07,1.000000,0.000000,0.000000,14.000000,14.000000,5.000000
75%,238.000000,2020.000000,2017.00000,2023.000000,7.000000,1.375000e+08,34.000000,143.000000,4.000000,2.100000e+07,1.000000,1.000000,0.000000,22.000000,22.000000,8.000000
max,320.000000,2023.000000,2023.00000,2034.000000,14.000000,4.265000e+08,41.000000,163.000000,11.700000,4.333333e+07,1.000000,2.000000,1.000000,29.000000,31.000000,11.000000

All the variables shown in df.describe() are int or float type variables and can be used with the corr() function and to create maps. So now six more of my variables can be analyzed and explored the way I want them too.

### 02. Data Export

In [100]:
df.to_csv(os.path.join(path, 'Cleaned Data', 'baseball_dv.csv'))